body {
    background-color: rgba(255, 2, 158, 0.757)
}
    h1 {
  font-family: fantasy;
  color: rgb(41, 20, 181);
  border-color: blue;
  font-size: large;
  font-weight: 500;
    }
    p1{
  font-family: fantasy;
  color:rgb(34, 9, 34);
  font-size: large;


    }
